
* {
    padding: 0px;
    margin: 0px;
}

header, nav, aside, article, section, footer, main {
    margin: 20px;
    display:block;
}


#wrapper {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #2196F3;
    text-align: center;
}

header{
    float: left;
}

h1 {
    margin: 60px;
    font-size: 48px;
}

form.query {
    padding: 0px;
    margin: 0px;
}

/* Style the search field */
form.query input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.query button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.query button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.query::after {
  content: "";
  clear: both;
  display: table;
}

/* ---------------------- Modal ---------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style the search field */
form.adminPass input[type=password] {
  padding: 10px;
  font-size: 24px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}
/* ---------------------- Results ---------------------- */

a {
    text-decoration: none;
    color: #2196F3;
}

a:hover {
    font-weight: bold;
    color: #21F673;
    cursor: pointer;
    
}

a.result {
    width: 51%;
    float: left;
    margin: 30px;
    text-align: left;
}
/* ---------------------- Admin ---------------------- */
#welcomeAdmin {
    color: #F136A3;
}