<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/style.css">
    <title>IR System</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <a href="/"><br><br>&#127968 Home Page</a>
        </header>
        <br>
        <main>
        	<h1>Literature Search</h1>
            <h2 id="welcomeAdmin">Welcome to the admin zone.</h2>
        </main>

        {{literaturegohere | safe}}

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
</body>
</html>