<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/style.css">
    <title>IR System</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <button id="myBtn">Admin zone</button>
        </header>
        <br>
        <main>
        	<h1>Literature Search</h1>
            <h2>Instructions:<br>Brackets: () OR: || AND: && NOT: !!</h2>
            <br>
	        <form class="query" action='/results' onsubmit="return validateQuery()" method='get'>
				<input type="text" placeholder="Search.." name="search">
	  			<button type="submit"><i class="fa fa-search"></i></button>
	        </form>
			<br><br>
			<h3>
				The query should be structured accurding to the followind pattern:<br><br>
				1. The query must contain atleast one word.<br>
				2. Following each word - except the last one in the expression - there must be an operand (&& or ||)<br>
				3. !! must come right before the word it's meant to apply to.<br>
				4. In order to take common stop-words into effect they must be place between ""<br><br>
				Example: ((word1 && word2) || "stop-wrod") && !! word3
			</h3>
   		</main>

   		<div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
                <span class="close">&times;</span>
                <h2> Enter password for admin zone: </h2>
                <form class="adminPass" action='/adminZone' onsubmit="return validatePass()" method='POST'>
                    <input type="Password" placeholder="Enter Password Here" name="Enter">
                    <button type="submit">Submit</button>
                </form>
          </div>

        </div>
        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
</body>
</html>